extends layout.pug

block content
	.container
		.section
			.row
				.col.s12
					ul
						li: a(href="/bans") Bans
						li: a(href="/docs") Documentation
						li: a(href="https://discord.gg/gmHTNFd") Discord
