extends layout.pug

block stylesheets
	link(href="/css/load.css" rel="stylesheet")

block content
	.container
		h1.center.light-blue-text.text-lighten-2 moustacheminer
		.row.center
			h2.light-blue-text.text-lighten-2 server services
		.row.cardstock
			.col.s12.m6
				.card
					.card-image
						.card-block
						.card-title
							span Rules
					.card-content
						p Refrain from breaking the Steam Terms of Service
						p Abstain from being under 13 years old
						p Desist from using PHP and mySQL
						
			.col.s12.m6
				.card
					.card-image
						.card-block
						.card-title
							span Links
					.card-content
						p: a(href="/") Website
						p: a(href="/api/bans") JSON encoded bans list
						p: a(href="/api/bans") JSON encoded points list

						
