extends layout.pug

block stylesheets
	link(href="/css/load.css" rel="stylesheet")

block content
	.container
		h1.center.light-blue-text.text-lighten-2 moustacheminer
		.row.center
			h2.light-blue-text.text-lighten-2 server services
		.row.cardstock
			.col.s12.m4
				.card
					.card-image
						.card-block
						.card-title
							span Rules
					.card-content
						p Refrain from breaking the Steam Terms of Service
						p Abstain from asking others to leave. If you wish to play with friends, consider running your own server
						p Don't be a dick
			.col.s12.m4
				.card
					.card-image
						.card-block
						.card-title
							span Links
					.card-content
						p: a(href="/") Website
			.col.s12.m4
				.card
					.card-image
						.card-block
						.card-title
							span Things to Do
					.card-content
						p: a(href="https://facepunch.com/showthread.php?t=1323522") DECtalk on Facepunch
						p: b Chat commands:
						p
							code !rtv
							|: Rock the Vote
						p: b Console commands:
						p
							code tts_enable
							|: Enable DECtalk Text to Speech
						p
							code tts_disable
							|: Disable DECtalk Text to Speech
						p
