<section class="fullscreen halfscreen">
  <div class="background" style="background-image: url('https://terminal.ink/assets/images/background.png');"></div>
  <div class="center-object">
    <section class="me">
      <h1 class="title">Terminal.ink</h1>
      <span class="undertitle">What a crap server.</span>
    </section>
    <div class="buttons">
      <a href="https://discord.gg/8uC6aKZ" class="btn animation discord" target="_blank">Discord</a>
    </div>
  </div>
</section>
<div class="container">
  {{> rules }}
</div>
