{{#if awesomium}}
<div class="container center">
  <p>It appears you are using an outdated browser.</p>
  <p>You should use the <code>chromium</code> beta branch of Garry's Mod for the best experience.</p>
  <img src="/img/chromium.png">
</div>
{{/if}}
