<footer class="container footer">
  <div class="left-pad">
    <a href="https://github.com/Terminal/gmod.terminal.ink/blob/master/LICENCE">
      MIT Licence
    </a>
    <a href="https://github.com/Terminal/gmod.terminal.ink/network/dependencies">
      Attribution
    </a>
    <a href="https://github.com/Terminal/gmod.terminal.ink">
      GitHub
    </a>
    <a href="https://discord.gg/8uC6aKZ" rel="noopener noreferrer">
      Discord
    </a>
    <a href="https://terminal.ink" rel="noopener noreferrer">
      Terminal.ink
    </a>
  </div>
  <p class="ls-footer-copyright">Copyright 2017 - 2019, Terminal.ink; Steam is a trademark of Valve Corp.</p>
</footer>
