<footer class="container footer">
  <div class="left-pad">
    <a href="https://github.com/Terminal/gmod.terminal.ink/blob/master/LICENCE" target="_blank">
      MIT Licence
    </a>
    <a href="https://github.com/Terminal/gmod.terminal.ink/network/dependencies" target="_blank">
      Attribution
    </a>
    <a href="https://github.com/Terminal/gmod.terminal.ink" target="_blank">
      GitHub
    </a>
    <a href="https://discord.gg/8uC6aKZ" target="_blank" rel="noopener noreferrer">
      Discord
    </a>
    <a href="https://terminal.ink" target="_blank" rel="noopener noreferrer">
      Terminal.ink
    </a>
  </div>
  <p class="ls-footer-copyright">Copyright 2017 - 2019, Terminal.ink; Steam is a trademark of Valve Corp.</p>
</footer>
