<div id="navbar" class="nav-container mobile">
  <span id="menu-icon">
  </span>
  <h3 class="nav-title">
    <a href="/">
      Terminal.ink
    </a>
  </h3>
  <div id="navside" class="sidenav" style="transform: translateX(-250px);">
    {{> navigationLinks }}
  </div>
  <div id="darken" class="sidenav-darken" style="display: none; opacity: 0;"></div>
</div>
<div class="nav-container default desktop">
  <h3 class="nav-title">
    <a href="/">
      Terminal.ink
    </a>
  </h3>
  <div class="sidenav">
    {{> navigationLinks }}
  </div>
</div>
