<div class="flex-grid">
  <div class="col-xs-4">
    <h3>Rules</h3>
    <ul>
      <li>Do not break the Steam TOS</li>
      <li>Do not use programs to cheat</li>
      <li>Do not break the Discord TOS</li>
      <li>Do not use bribery to bribe Kromatic</li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h3>Helpful Console Commands</h3>
    <ul>
      <li>
        <code>xgui</code> - Open the ULX console
        <ul>
          <li>
            You can vote for maps here
          </li>
        </ul>
      </li>
      <li>
        <code>kill</code> - Kill your player character
      </li>
      <li>
        <code>unbindall</code> - Magic
      </li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h3>Buttons</h3>
    <ul>
      <li>Press <code>F4</code> for the Pointshop</li>
      <li>Press <code>ALT+F4</code> to quit</li>
      <li>Press <code>CTRL+SHIFT+ESCAPE</code> in Windows to open the "Task Manager"</li>
    </ul>
  </div>
</div>
<p>
  <b>Tip of the day!</b>
  Holding down X and screaming will enhance your gameplay by 200%
</p>
